* {
  box-sizing: border-box;
}
nav h1 {
  color: whitesmoke;
  font-size: large;
}
.game_box {
  text-align: center;
  margin: 0 auto;
  width: 24.15em;
}
form input {
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid black;
  border-radius: 0.25rem;
}
.title {
  font-size: 4.5em;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  color: rgb(255, 220, 65);
}
.guess {
  position: relative;
  padding: 0.5rem 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid black;
  border-radius: 0.25rem;
}
.alert {
  visibility: hidden;
  position: absolute;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}
.heading{
    margin: 0 auto;
    display: inline-block;
}
